*{
	margin: 0;
	padding: 0;

}

.content{
	
}

.head{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	
}

.jogo{
	display: flex;
	align-items: center;
	justify-content: center;
}

